@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&family=Roboto:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  --primary-color: #e76f00;
  --secondary-color: #e98f3b;
}

a {
  text-decoration: none;
  color: #333;
}

button {
  cursor: pointer;
}

h1,
h2,
h3 {
  font-weight: 700;
}
